@model Platform_Task__Management_System.Models.Facility

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Facility</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FacilityName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FacilityName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.licenseNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.licenseNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodeFile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodeFile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ADT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ADT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PPR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PPR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OMP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OMP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RAS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RAS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelephoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelephoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PasswordServer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PasswordServer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnyDeskID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnyDeskID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnyDeskPassword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnyDeskPassword)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsSupport)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsSupport)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FacilityID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
